.card {
    position: relative;
}
.card .color {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .color {
    transform: rotateY(0);
    transition-delay: 0.2s;
}

.card .cover {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}
.flipped .cover {
    transform: rotateY(90deg);
    transition-delay: 0s;
}