
.box {
  width: 100px;
  height: 100px;
  border: 2px solid;
}
.d-flex {
  display: flex;
}
.j-center {
  justify-content: center;
}
.column {
  flex-direction: column;
}
.a-center {
  align-items: center;
}
.wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}
.cover {
  background-color: grey;
}